.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.content {
  text-align: center;
}

.departments {
  width: 700px;
  margin: 0 auto;
  text-align: left;
  font-size: small;
}
